.action {
  cursor: pointer;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination__disabled {
  color: rgb(198, 197, 202);
  border-color: rgb(198, 197, 202);
}
.pagination > .pagination__active > a {
  background-color: #5f2eea;
  border-color: #5f2eea;
  color: #fff !important;
}
.pagination > li > a {
  border: 1px solid #5f2eea;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .pagination__active > a,
.pagination > .pagination__active > span,
.pagination > .pagination__active > a:hover,
.pagination > .pagination__active > span:hover,
.pagination > .pagination__active > a:focus,
.pagination > .pagination__active > span:focus {
  background-color: #5f2eea;
  border-color: #5f2eea;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #5f2eea;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
