.home {
  padding: 0;
  margin: 0;
}

.home__banner {
  padding: 0 !important;
}

.home__banner--image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.home__paragraf {
  text-indent: 30px;
  text-align: justify;
  margin: 15px 0;
}

.home__image--col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__image--list {
  width: 90%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 575.98px) {
  .home__banner--image {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
}
